In [79]:
import pandas as pd
import numpy as np
import seaborn as sns

import pyproj, sys
from os import system
from math import sin,cos,sqrt,asin,pi

import matplotlib.pyplot as plt
%matplotlib inline

# Inicio de funcion de distancia
def distanciaEnMetros ( lat1, long1, lat2, long2 ):
    long1,lat1 = (long1,lat1)
    long2,lat2 = (long2,lat2)
    
    r = 6371000 #radio terrestre medio, en metros
    c = pi/180 #constante para transformar grados en radianes

    #Fórmula de haversine
    d = 2*r*asin(sqrt(sin(c*(lat2-lat1)/2)**2 + cos(c*lat1)*cos(c*lat2)*sin(c*(long2-long1)/2)**2))

    return d    
# Fin de funcion de distancia

viviendas = pd.read_csv('../archivoCSV-Properati/properati-AR-2016-12-01-properties-sell.csv',low_memory=False)
#considerando un formato de csv especifico ...
viviendas = viviendas.loc[viviendas.state_name.str.contains('Capital Federal'),:]

escuelas = pd.read_csv('data/establecimientos-educativos.csv',sep=';', error_bad_lines=False,low_memory=False)

In [ ]:
concluciones de los datos:
escuelas: 
cantidad de barrios = 48

viviendas:
cantidad de barrios = 901

In [78]:
viviendas[:10]

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,
0,ecc59daba3d5bc726ae8aa9dbccfe79635aef175,2016-06-01,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234,"-34.5888560251,-58.4087713338",-34.588856,-58.408771,450000,USD,7185825.0,450000,NaN,130,NaN,3461.538462,...
1,7f1423f29df530cae38e7a59ddc6430c7da7ca38,2016-06-01,sell,apartment,Once,|Argentina|Capital Federal|Once|,Argentina,Capital Federal,3430291,"-34.6033997612,-58.3984088548",-34.603400,-58.398409,95000,USD,1517007.5,95000,NaN,46,NaN,2065.217391,...
2,4fdd84d998a3f82f4a3b36f405cc3f7013fb642e,2016-06-01,sell,store,Barrio Norte,|Argentina|Capital Federal|Barrio Norte|,Argentina,Capital Federal,3436109,"-34.595849,-58.386979",-34.595849,-58.386979,52000,USD,830362.0,52000,NaN,0,NaN,NaN,...
3,a786b4d9a8f6cc86ba3e839f4cb85bbb03cf15fd,2016-06-01,sell,house,Adrogué,|Argentina|Bs.As. G.B.A. Zona Sur|Almirante Br...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,"-34.796679,-58.3993149",-34.796679,-58.399315,360000,USD,5748660.0,360000,280,0,1285.714286,NaN,...
4,9844244d17eb024e0632a63b4098b67889de06bc,2016-06-01,sell,house,Pilar,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|,Argentina,Bs.As. G.B.A. Zona Norte,3429979,NaN,NaN,NaN,150000,USD,2395275.0,150000,120,120,1250.000000,1250.000000,...
5,6f1036dbcf1f786cc8fcf2df421f83f06e5a68c0,2016-06-01,sell,house,Pilar,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|,Argentina,Bs.As. G.B.A. Zona Norte,3429979,"-34.4701143697,-58.8870468561",-34.470114,-58.887047,260000,USD,4151810.0,260000,0,290,NaN,896.551724,...
6,a7b6a1edb4cf708c30eef5d953ff8622f7c0a731,2016-06-01,sell,house,Pilar,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|,Argentina,Bs.As. G.B.A. Zona Norte,3429979,"-34.4769424946,-58.879000229",-34.476942,-58.879000,250000,USD,3992125.0,250000,0,230,NaN,1086.956522,...
7,0bf7e57e034c3742f303d74256c2448d19b577bb,2016-06-01,sell,house,Pilar,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|,Argentina,Bs.As. G.B.A. Zona Norte,3429979,"-34.4394183242,-58.9257631439",-34.439418,-58.925763,215000,USD,3433227.5,215000,138,108,1557.971014,1990.740741,...
8,d39b18e6f6d07d1c87c96d36d7c33a075194ac06,2016-06-01,sell,house,Escobar,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|,Argentina,Bs.As. G.B.A. Zona Norte,3434130,"-34.4029354901,-58.8266220514",-34.402935,-58.826622,175000,USD,2794487.5,175000,165,165,1060.606061,1060.606061,...
9,d65b8fd3b9a990ad94c9f5e35d8f05bae7d6d495,2016-06-01,sell,house,Pilar,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|,Argentina,Bs.As. G.B.A. Zona Norte,3429979,"-34.4379694,-58.9880027",-34.437969,-58.988003,250000,USD,3992125.0,250000,240,240,1041.666667,1041.666667,...

In [35]:
viviendas.dropna(subset=[['lat','lon','price']],inplace=True)

viviendas_en_map = viviendas[['lat','lon','price']]

viviendas_en_map[:3]

          lat        lon   price
4  -34.558247 -58.564806  110000
7  -34.561351 -58.516614   99000
11 -34.597915 -58.417149   86925

[3 rows x 3 columns]

In [52]:
#type (escuelas['NIVELMODAL'].str.contains("INICIAL"))

escuelas['NIVEL_INICIAL'] = escuelas[escuelas['NIVELMODAL'].str.contains("INICIAL")]['NIVELMODAL']
escuelas['NIVEL_PRIMARIO'] = escuelas[escuelas['NIVELMODAL'].str.contains("PRIMARIO")]['NIVELMODAL']
escuelas['NIVEL_SECUNDARIO'] = escuelas[escuelas['NIVELMODAL'].str.contains("SECUNDARIO")]['NIVELMODAL']

#escuela.dropna(subset=['rooms'],inplace=False)

escuelas_por_nivel = escuelas[['OBJECTID','LAT','LON','BARRIO','NIVEL_INICIAL', 'NIVEL_PRIMARIO', 'NIVEL_SECUNDARIO']]
escuelas_por_nivel[:3]

,OBJECTID,LAT,LON,BARRIO,NIVEL_INICIAL,NIVEL_PRIMARIO,NIVEL_SECUNDARIO
0,1,-34.600586,-58.512702,VILLA DEVOTO,NaN,NaN,NIVEL SECUNDARIO DE JOVENES Y ADULTOS
1,2,-34.627545,-58.409572,SAN CRISTOBAL,NaN,NaN,NIVEL SECUNDARIO COMUN
2,3,-34.565676,-58.470192,BELGRANO,NIVEL INICIAL COMUN,NaN,NaN

In [39]:
long1 = -67.9766140755
lat1 = 9.36642904389
long2 = -67.9767140755
lat2 = 9.36642904389
 
print distanciaEnMetros(lat1, long1, lat2, long2)

10.9712441283