In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import pyproj, sys
from os import system
from math import sin,cos,sqrt,asin,pi

import matplotlib.pyplot as plt
%matplotlib inline

escuelas = pd.read_csv('data/establecimientos-educativos.csv',sep=';', error_bad_lines=False,low_memory=False)
escuelas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2857 entries, 0 to 2856
Data columns (total 28 columns):
LON           2857 non-null float64
LAT           2857 non-null float64
OBJECTID      2857 non-null int64
CUI           2857 non-null int64
CUEANEXO      2857 non-null int64
CUE           2857 non-null int64
ANEXO         2857 non-null float64
SECTOR        2857 non-null int64
DOM_EDIFIC    2857 non-null object
DOM_ESTABL    2857 non-null object
NOMB_EST      2857 non-null object
NOMB_ABR      2857 non-null object
TELEFONO      2854 non-null object
EMAIL         2855 non-null object
CODPOST       2857 non-null object
PAGINAWEB     2857 non-null object
NIVMOD        2857 non-null object
NIVELMODAL    2857 non-null object
DEPFUN        2822 non-null object
DE            2857 non-null int64
COMUNA        2857 non-null int64
BARRIO        2857 non-null object
AREAPROGRA    2857 non-null object
ESTADO        2857 non-null int64
POINT_X       2857 non-null object
POINT_Y       2857 non-null object
NIVEL         2857 non-null object
TIPEST        2857 non-null object
dtypes: float64(3), int64(8), object(17)

In [4]:
viviendas = pd.read_csv('../archivoCSV-Properati/properati-AR-2013-08-01-properties-sell.csv',low_memory=False)
#viviendas.info()
viviendas.dropna(subset=[['lat','lon','price']],inplace=True)

viviendas_en_mapa = viviendas[['lat','lon','price']]

viviendas_en_mapa[:3]

          lat        lon   price
4  -34.558247 -58.564806  110000
7  -34.561351 -58.516614   99000
11 -34.597915 -58.417149   86925

[3 rows x 3 columns]

In [6]:
#type (escuelas['NIVELMODAL'].str.contains("INICIAL"))

escuelas['NIVEL_INICIAL'] = escuelas[escuelas['NIVELMODAL'].str.contains("INICIAL")]['NIVELMODAL']
escuelas['NIVEL_PRIMARIO'] = escuelas[escuelas['NIVELMODAL'].str.contains("PRIMARIO")]['NIVELMODAL']
escuelas['NIVEL_SECUNDARIO'] = escuelas[escuelas['NIVELMODAL'].str.contains("SECUNDARIO")]['NIVELMODAL']

#escuela.dropna(subset=['rooms'],inplace=False)

escuelas_por_nivel = escuelas[['LAT','LON','NIVEL_INICIAL', 'NIVEL_PRIMARIO', 'NIVEL_SECUNDARIO']]
escuelas_por_nivel.head(4)

long1 = -67.9766140755
lat1 = 9.36642904389
long2 = -67.9767140755
lat2 = 9.36642904389
 
# Inicio de funcion de distancia
def distanciaEnMetros(lat1, long1, lat2, long2):
    long1,lat1 = (long1,lat1)
    long2,lat2 = (long2,lat2)
    
    r = 6371000 #radio terrestre medio, en metros
    c = pi/180 #constante para transformar grados en radianes

    #Fórmula de haversine
    d = 2*r*asin(sqrt(sin(c*(lat2-lat1)/2)**2 + cos(c*lat1)*cos(c*lat2)*sin(c*(long2-long1)/2)**2))

    return d    
# Fin de funcion de distancia